<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.Oracle" version="8.3.115" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client.es" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core.es" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost.es" version="5.2.4" targetFramework="net461" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="odp.net.x64" version="112.3.20" targetFramework="net461" />
  <package id="odp.net.x86" version="112.3.20" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net461" />
  <package id="ServiceStack.Common" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.OrmLite" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.OrmLite.Oracle" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.Text" version="5.0.0" targetFramework="net461" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net461" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net461" />
</packages>